*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, 
    white 0%, 
    #f1e9fb 50%, 
    #d8c9f0 100%);
    height: 100vh;
    scroll-behavior: smooth;
}

/* Nav */
.container-nav{
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    margin-top: 5px;
}

.nav-flex{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
}

.nav-flex label,#navbar{
    display: none;
}

.text-nav{
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
}

.navigasi-a{
    padding: 15px;
}

ul{
    display: flex;
    list-style: none;
    background-color: white;
    padding: 5px;
    border-radius: 14px;
}

.navigasi-a ul li a:hover{
    background-color: blueviolet;
    transition: 0.8s;
    color: white;
}

ul li a{
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 14px;
}


.login{
    padding: 15px;
}

.login button{
    margin: 0px 10px;
    padding: 5px 14px;
    border-radius: 14px;
    background-color: white;
    border: none;
    font-size: 12px;
}

.login button:hover{
    background-color: blueviolet;
    transition: 0.8s;
    color: white;
}

.login a{
    padding: 8px 25px;
    background-color: blueviolet;
    border-radius: 18px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.login a:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
}

/* Hero */

#container-hero{
    margin-top: 50px;
    width: 100%;
}

.hero-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hero-items{
    width: 50%;
    text-align: start;
    /* margin: auto; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.hero-items-img{
    width: 50%;
}

.hero-items span {
    background-color: blueviolet;
    padding: 3px;
}

.hero-items h2{
    width: 75%;
    margin-top: 70px;
    font-size: 30px;
}

.hero-items button{
    width: 30%;
    margin-top: 20px;
    padding: 12px;
    background-color: blueviolet;
    border-radius: 18px;
    border: none;
}

.hero-items a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-text button:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

.hero-items p{
    margin-top: 10px;
}

.hero-text{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 80px;
}

.hero-items-img img{
    width: 100%;
    margin: auto;
}

/* Showcase */

#showcase-container{
    margin-top: 50px;
}

.judul h2{
    margin-top: 40px;
    opacity: 0.6;
    font-weight: 1000;
    text-align: center;
    color: black;
}

.judul p{
    text-align: center;
    color: black;
    margin-top: 10px;
}

.showcase-flex{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.showcase-items{
    width: 20%;
    padding: 15px;
    /* border: 2px solid blueviolet; */
    margin: 10px;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    overflow: hidden;
}

.showcase-items img{
    width: 100%;
    border-radius: 8px;
}

.showcase-items img:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

.rating{
    margin-top: 20px;
    padding: 5px;
    color: rgb(255, 192, 1);
}

.judul{
    margin-top: 5px
}

.penulis{
    text-align: start;
    margin-top: 30px;
}


/* Tema */

#tema-container{
    width: 100%;
    margin-top: 40px;
    font-weight: 1000;

}

.tema-judul{
    text-align: center;
}

.tema-judul h2{
    font-weight: 1000;
    opacity: 0.6;
}

.tema-judul p{
    font-weight: normal;
}

.tema-flex{
    padding: 20px 0;
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 18px;

}

.tema-items{
    width: 15%;
    margin: 10px;
}

.tema-items img{
    width: 100%;
    border-radius: 8px;
}

.tema-items p{
    padding: 2px;
    margin-top: 5px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    background-color: white;
    border-radius: 8px;
    display: none;
}

.tema-items:hover{
    transform: scale(1.1);
    transition: 0.8s;
}


/* List Tema */


#list-tema-container{
    width: 100%;
    margin-top: 50px;
}

#list-tema-container h3{
    padding: 20px;
}

.list-tema-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.list-tema-items{
    width: 15%;
    margin-top: 20px;
    overflow: hidden;
    padding: 10px;
}

.list-tema-items:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

.list-tema-items img{
    width: 100%;
}

/* Smartphonr */
@media screen and (min-width : 0px) and (max-width : 680px) {
    .container-nav .nav-flex label{
        display: inline-block;
        font-style: normal;
        font-size: 30px;
        color: black;
        margin-top: 10px;
        padding-left: 10px;
    }

    .container-nav .nav-flex{
        width: 100%;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 48px;
        right: 0;
    
    }

    nav ul li a{
        display: block;
        padding: 0px 0px 0px 10px;
        height: auto;
        width: 50%;
    }

    .login {
        display: none;
    }

    .text-nav{
        position: absolute;
        right: 0;
        padding: 10px 20px;
    }

    .container-nav .navigasi-a{
        display: none;
    }

    .container-nav .nav-flex input:checked~.navigasi-a{
        display: inline;
    }

    .container-nav  nav ul :hover{
        background: blueviolet;
    }

    .hero-items-img{
        width: 100%;
    }

    .hero-items{
        display: none;
    }

    /* Showcase */
    .showcase-items{
        width: 100%;
    }

    .tema-judul{
        padding: 20px;
    }

    /* Tema */

    .tema-items{
        width: 50%;
    }

    /* List Tema */

     .list-tema-flex{
        flex-wrap: wrap;
     }

     .list-tema-items{
        width: 50%;
        margin: 10px;
     }
}


/* Tablet */

 @media screen and (min-width:679px) and (max-width: 884px) {
        .hero-items-img{
            display: none;
        }

        .hero-items{
            width: 100%;
        }

        .hero-items h2{
            width: 100%;
            text-align: start;
            text-align: center;
        }

        .hero-text{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .hero-text button{
            width: 80%;
        }

        /* Shwocase */

        .showcase-items{
            width: 40%;
        }

        /* List Showcase */

    }